# dependencies
node_modules/

# env files
.env.local

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
temp_auto_push.bat

# build
dist/
build/

# OS
.DS_Store
Thumbs.db

# editor
.idea/
.gitignore
temp_interactive_push.bat
